nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  /* background-color: #5d4594; */
  background: linear-gradient(to left, rgb(230, 106, 213), rgb(112, 101, 214));
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.logo {
  color: #f1eded;
  letter-spacing: 2px;
  font-size: 1.8rem;
  font-family: 'Baloo 2', cursive;
  font-weight: 600;
}

.logo a {
  text-decoration: none;
  color: #f1eded;
}

.nav-links {
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Baloo 2', cursive;
  font-weight: 400;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
}

.connect-button {
  background-color: rgb(83, 42, 150);
  border: none;
  color: white;
  padding: 8px 12px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
}
