.plan {
  height: fit-content;
  width: fit-content;
  max-width: 400px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: gray;
  justify-content: space-around;
  align-items: center;
}

.new-plan {
  display: flex;
  flex-wrap: wrap;
}
