.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

button {
  background-color: rgb(83, 42, 150);
  border: none;
  color: white;
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 4px 2px;
  cursor: pointer;
}

input[type='text'] {
  width: 50%;
  padding: 6px 12px;
  margin: 6px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
